@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*для удобной верстки  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
a:focus, a:active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
nav, footer, header, aside {
  display: block;
}

/*Делает их блочными*/
html, body {
  /*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*Просим наследовать симейсто шрифта */
input::-ms-clear {
  display: none;
}

/*убирает крестик... в интернет эксп */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
a:hover {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
ul li {
  list-style: none;
}

/* чистим стили для маркерованых списков */
img {
  vertical-align: top;
}

/* чистим стили для маркерованых списков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуляем все наши заголовки h1-...h6 */
/*--------------------------------------------------------------------------------------------------*/
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*--------------------------------------------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
.title {
  margin-bottom: 52px;
}

.title h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18B4CF;
}

.header {
  padding-top: 70px;
}

.header-menu {
  background-color: #313131;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-menu > div {
  cursor: pointer;
}

.header-menu__logo {
  width: 190px;
}

.header-menu__items {
  width: 725px;
}

.header-menu__items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__items-links li a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.header-menu__items-links li a:hover {
  color: #14B9D5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  width: 70px;
  height: 70px;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.header-inner {
  background-image: url("../img/bg/bg1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: auto 446px;
  padding-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.header-inner__title {
  margin-bottom: 44px;
}

.header-inner__title h1 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.header-inner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px;
}

.header-inner__buttons-item {
  border-radius: 4px;
}

.header-inner__buttons-item:first-child {
  padding: 17px 20px;
  margin-right: 20px;
  background-color: #89CA62;
}

.header-inner__buttons-item:last-child {
  padding: 17px 30px;
  background-color: #14B9D5;
}

.header-inner__buttons-item a {
  font-family: 'Open Sans';
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.block1 {
  text-align: center;
  background: #F2F2F2;
}

.block1-title {
  padding: 49px 0 0 0;
}

.block1-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 45px;
}

.block1-column__inner {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 32px;
}

.block1-column__inner-title h3 {
  color: #353A3D;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 0 22px 0;
}

.block2 {
  background-image: url("../img/bg/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 588px;
  margin-bottom: 51px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block2-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
}

.block2-content__title {
  margin: 117px 0 170px 0;
}

.block2-content__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  background-color: #18B4CF;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}

.block2-content__title h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.block2-content__logos {
  margin: 100px 0 190px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 207px 135px 232px 141px;
      grid-template-columns: 207px 135px 232px 141px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 881px;
}

.block2-content__logos-item:first-child {
  padding-top: 10px;
}

.block3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 83px 1fr;
      grid-template-rows: 83px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  max-height: 326px;
  margin-bottom: 49px;
}

.block3-photos {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.block3-photos__item img {
  width: 100%;
}

.title2 h3 {
  color: #353A3D;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.block4-row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 277px;
      grid-template-columns: 1fr 277px;
  grid-gap: 35px;
  margin-bottom: 42px;
}

.block4-row1__item1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.block4-item1__content {
  text-align: right;
  background: #F9F7F7;
  height: 259px;
}

.block4-item1__content h3 {
  padding: 43px 24px 15px;
}

.block4-item1__content p {
  color: #5B6469;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 0 24px 40px 14px;
}

.block4-item2__content-title {
  background: #F9F7F7;
  padding: 14px 27px 10px 27px;
  text-align: center;
}

.block4 {
  margin-bottom: 77px;
}

.block4-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 43px 60px;
  margin-bottom: 43px;
}

.block4-row2-item__content {
  text-align: end;
  background: #F9F7F7;
  padding: 0 13px 4px 13px;
}

.block4-row2-item__content-title {
  padding: 12px 0 15px 0;
}

.block4-row2-item__content-text p {
  color: #5B6469;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.block4-row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 277px  1fr;
      grid-template-columns: 277px  1fr;
  grid-gap: 35px;
}

.block4-row3__item1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer {
  background-color: #000000;
  color: #fff;
  height: 80px;
  display: -ms-grid;
  display: grid;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 13px;
  line-height: 13px;
  text-align: start;
}

.footer__logo {
  text-align: end;
}
