
//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1280; // можно выбрать свои параметры 
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 18px;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "nullstyle";
body {
	color: $mainColor;
	font-family: $fontFamily;
	font-size: $fontSize;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================


//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
	
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   width: 100%;
   @media (max-width: $md1 + px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

/*--------------------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/

.header {
	margin-top:20px;

	&__inner {
		margin-bottom: 48px;
	}

	&__logo {
		font-size: 80px;
		line-height: 94px;
		margin-bottom: 38px;
		& a{
			color:black;
			& span {
				color: #4BCAFF;
			}
		}
	}

	&__menu {
		color:#FFFFFF;
		background-color:#35444F;
		font-size: 24px;
		line-height: 28px;
	}

	&__menu-link {
		display: flex;
		justify-content: center;
		& li {
			padding: 20px 35px ;
			&:hover {
				background: #222F3A;
				cursor: pointer;
				transition: all 0.2s linear;
			}
		}
	}
}

.page {

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		
	}
}

.aside {
width: 344px;
	&__menu {
		border: 1px solid rgb(0, 0, 0);
	}

	&__menu-link {
		& li {
			padding: 0 20px 0 44px;
			font-size: 27px;
			line-height: 27px;
			color: #495863;
			transition: 0.5s;
			&:hover{
				background: #DBDBDB;
				color: #000000;
				cursor: pointer;
				//transform: translate(10px,0);
			}
			& p {
				padding: 26px 0 26px 0;
				transition: 0.7s;
				&:hover {
					transform: translate(10px,0);
					padding-left: 15px;
				}
			}
		}
	}
}
.section {
width: 885px;
	&__img {
		border: 1px solid rgb(0, 0, 0);
		text-align: center;
		padding: 75px 0;
		margin-bottom: 37px;
		& img {
			transition: 1s;
			&:hover {
				transform: scale(1.2);
			cursor: pointer;
			}
		}
	}

	&__text {
		& p {
			margin-bottom: 34px;
			line-height: 24px;
			color: #2C2C2C;
			&:last-child {
				margin-bottom: 54px;
			}
		}

	}
}

.footer {
	margin-bottom: 10px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(99, 105, 110, 0.48);
	}

	&__info-menu {
		font-size: 28px;
		color:#0C1927;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		line-height: 28px;
	}

	&__info-link {
		display: flex;
		justify-content: flex-start;
		
		& li {
			margin:10px 10px;
			padding: 10px 5px;
			border-bottom:2px solid transparent;
			&:first-child {
				margin-left: 25px;
			}
			&:hover{
				color: #3181A6;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-bottom:2px solid #3181A6;
				cursor: pointer;
				transition: all 0.3s linear;
			}
		}
	}

	&__info-copyright {
		margin:0 25px 0 15px;
			padding: 10px 5px 10px;
	}
}





