@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*для удобной верстки  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
a:focus, a:active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
nav, footer, header, aside {
  display: block;
}

/*Делает их блочными*/
html, body {
  /*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*Просим наследовать симейсто шрифта */
input::-ms-clear {
  display: none;
}

/*убирает крестик... в интернет эксп */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
a:hover {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
ul li {
  list-style: none;
}

/* чистим стили для маркерованых списков */
img {
  vertical-align: top;
}

/* чистим стили для маркерованых списков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуляем все наши заголовки h1-...h6 */
/*--------------------------------------------------------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.fake-box {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  z-index: 1;
}

.star-wars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-size: 600%;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 150%;
  -webkit-perspective: 400px;
          perspective: 400px;
  text-align: justify;
}

.content {
  position: relative;
  top: 1000px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: content 30s linear infinite;
          animation: content 30s linear infinite;
}

.content p {
  margin-bottom: 200px;
}

.content > .titles {
  font-size: 90%;
  text-align: center;
}

.content > .titles h2 {
  margin: 0 0 100px;
  font-weight: 700;
}

.content > .titles h1 {
  font-weight: 700;
  text-transform: uppercase;
}

@-webkit-keyframes content {
  0% {
    top: -100px;
    -webkit-transform: rotateX(20deg) translateZ(0);
            transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    -webkit-transform: rotateX(20deg) translateZ(-2200px);
            transform: rotateX(20deg) translateZ(-2200px);
  }
}

@keyframes content {
  0% {
    top: -100px;
    -webkit-transform: rotateX(20deg) translateZ(0);
            transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    -webkit-transform: rotateX(20deg) translateZ(-2200px);
            transform: rotateX(20deg) translateZ(-2200px);
  }
}
